{% extends 'base.html.twig' %}
{% block title %}Alunos{% endblock %}
{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}


    <script>
        $(".alert").alert();
    </script>
    <div class="row">
        <div class="col-md-12">
            <h1>Todos os alunos</h1>
            <hr />
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                        <td>{{ aluno.id }}</td>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.idade }}</td>
                        <td>
                            <a href="{{ path('form_edit_student',{id: aluno.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                        </td>
                        <td>
                            <a href="{{ path('form_remove_student',{id: aluno.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}